@import '_variables.scss';
// @import '_utilities';


/* For  scrollbar-color */
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #165075 #DFE9EB;
}*/

/* Chrome, Edge and Safari */

.custom-service-font{
  font-size: 3.3rem;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #165075;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #122CA3;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #000001;
}

//remove arrow/spinners in input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.font-tnr {
  font-family: 'Times New Roman', Times, serif;
}

.font-carattere {
  font-family: Carattere;
}


.custom-padding-about {
  padding-inline: 1rem;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-jakarta {
  font-family: Plus Jakarta Sans;
}
.font-size-footer {
  font-size: 12px;
}

.carousel-caption {
  top: 55%;
  transform: translateY(-50%);
}

.carousel-img{
  height: 600px;
  object-fit: cover;
}

.pointer{
  cursor: pointer;
} 